* {
    padding: 0;
    margin: 0;
  }
  
  h1, h2, h3, p {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  button {
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
  header {
    background-image: url(../images/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
  }
  .header-top {
    background: #061321;
    opacity: 0.9;
  }
  .ful-hd{
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .first2>a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }
  .first2>a:hover{
    color: #00A3FF;
  }
  .head2>p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #69778a;
  }
  .first3>a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }
  .first3>a:hover{
    color: #00A3FF;
  }
  .first2{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }
  .first2>:nth-child(1){
    padding-right: 5px;
  }
  .head3>p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #69778a;
  }
  .first3>a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }
  .first3{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }
  .first3>:nth-child(1){
    padding-right: 5px;
  }
  .header-top-bottom{
    background: #07192d;
    opacity: 0.9;
  }
  .ful-hd2{
    padding-right: 185px;
    padding-left: 185px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ful-hd2>a{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
  }
  .ful-hd2>a:hover{
    color: #00A3FF;
  }
  .header-botton-center{
    padding-top: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 276px;
  }
  .text>h1{
    font-family: "Poppins", sans-serif;
    font-size: 75px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    width: 903px;
    padding-bottom: 20px;
  }
  .header-botton-center>:nth-child(1){
    position: absolute;
    left: 134px;
  }
  .header-botton-center>:nth-child(3){
    position: absolute;
    right: 145px;
  }
  .text>p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 114%;
    color: #fff;
  }
  .truck-slide{
    position: relative;
  }
  .bac{
    background-image: url(../images/Rectangle\ 451\ \(2\).png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*.truck-slide:first-child{
    background-image: url(../images/Rectangle\ 451\ \(2\).png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }*/
  .truck-slide>.search{
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
  }
  .truck-slide>.more{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #292929;
    background-color: #fff;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    border-top-right-radius: 22px;
    display: none;
  }
  .truck-slide>.more>img{
    padding-left: 47px;
  }
  .bac:hover{
    filter: brightness(60%);
  }
  .truck-slide:hover>.more{
    display: flex !important;
  }
  .truck-slide:hover>.search{
    display: flex !important;
  }
  .bac2{
    background-image: url(../images/Rectangle\ 451\ \(1\).png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bac2:hover{
    filter: brightness(60%);
  }
  .bac3{
    background-image: url(../images/Rectangle\ 451.png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bac3:hover{
    filter: brightness(60%);
  }
  .bac4{
    background-image: url(../images/Rectangle\ 451\ \(2\).png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bac4:hover{
    filter: brightness(60%);
  }
  .bac5{
    background-image: url(../images/Rectangle\ 451\ \(1\).png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bac5:hover{
    filter: brightness(60%);
  }
  .bac6{
    background-image: url(../images/Rectangle\ 451.png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bac6:hover{
    filter: brightness(60%);
  }
  .swiper-button-prev{
    position: absolute;
  }
  .about>.container>.a>p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    color: #fff;
    max-width: 812px;
    margin-left: 149px;
  }
  .button-prev{
    position: absolute;
    left: -50px;
  }
  .slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  .button-next{
    position: absolute;
    right: -50px;
  }
  .about-top>h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #00a3ff;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .about{
    background-image: url(../images/bac2.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
  }
  .a{
    position: relative;
    top: -74px;
  }
  .about-top>h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
  }
  .about>.slider{
    background-image: url(../images/Mask\ Group.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
  }
  .about-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .fir>h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #212121;
    position: absolute;
    left: 65px;
    top: 40px;
    max-width: 178px;
  }
  .fir{
    border-radius: 10px;
    width: 540px;
    height: 240px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
    background: #fff;
    position: relative;
    cursor: pointer;
  }
  .fir:hover{
    background-image: url(../images/writerec.png);
  }
  .fir>p{
    position: absolute;
    left: 65px;
    top: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #212121;
    max-width: 410px;
  }
  .opis{
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .opis-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }
  .h33>h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #212121;
    padding-bottom: 20px;
    position: absolute;
    left: 65px;
    top: 40px;
    max-width: 268px;
  }
  .sec{
    position: relative;
    border-radius: 10px;
    width: 540px;
    height: 280px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
    background: #fff;
    cursor: pointer;
  }
  .sec:hover{
    background-image: url(../images/writerec.png);
  }
  .sec>h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #212121;
    position: absolute;
    left: 65px;
    top: 40px;
    max-width: 365px;
  }
  .sec>p{
    position: absolute;
    left: 65px;
    top: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #212121;
    max-width: 410px;
  }
  .opis-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .h333>h3{
    max-width: 119px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #212121;
    position: absolute;
    left: 65px;
    top: 40px;
  }
  .top-sec2{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .top-sec2>h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #00a3ff;
    padding-bottom: 10px;
  }
  .top-sec2>h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    color: #212121;
    padding-bottom: 20px;
  }
  .top-sec2>p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #212121;
    padding-top: 30px;
    padding-bottom: 36px;
    max-width: 812px;
  }
  .car-slide{
    position: relative;
  }
  .car1{
    background-image: url(../images/bus.png);
    width: 255px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .car1:hover{
    border: 2px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .car-slide>.name{
    position: absolute;
    left: 92px;
    bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #212121;
    display: flex;
    align-items: center;
  }
  .car2{
    background-image: url(../images/tractor.png);
    width: 255px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .car2:hover{
    border: 2px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .car3{
    background-image: url(../images/gruz.png);
    width: 255px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .car3:hover{
    border: 2px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .car4{
    background-image: url(../images/furra.png);
    width: 255px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .car4:hover{
    border: 2px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .car5{
    background-image: url(../images/bus.png);
    width: 255px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .car5:hover{
    border: 2px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .car6{
    background-image: url(../images/tractor.png);
    width: 255px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .car6:hover{
    border: 2px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .name:hover.car1{
    border: 2px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .b{
    position: relative;
    padding-bottom: 20px;
  }
  .def{
    border-radius: 10px;
    width: 255px;
    height: 316px;
    position: relative;
    box-shadow: 0 0 30px 0 #eaeaea;
    background: #fff;
  }
  .def>p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #00a3ff;

  }
  .def>h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: #212121;
    padding-bottom: 30px;
    padding-top: 10px;

  }
  .def>ul>li>p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    text-align: center;
    color: #212121;
    padding-left: 10px;
  }
  .def>ul>li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 17px;
  }
  .def>ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .def>.min>li>p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #212121;
  }
  .def>.min>li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .def>.min{
    font-display: auto;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 91px;
    padding-top: 7px;
  }
  .tabs-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .def:nth-child(4){
    background-image: url(../images/tabimg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .def:nth-child(4)>h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: #fff;
  }
  .def:nth-child(4)>.min>li>p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #fff;
  }
  .def:nth-child(4)>ul>li>p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    text-align: center;
    color: #fff;
  }
  .tabs-item:not(._active) {
    display: none;
 }
 .mazok2{
  position: absolute;
  top: -20px;
 }
 .section2{
  position: relative;
 }
 .mazok1{
  position: absolute;
  top: -20px;
 }
 .about{
  position: relative;
 }







  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media (max-width: 760px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
  }
