* {
    padding: 0;
    margin: 0;
  }
  
  h1, h2, h3, p {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  button {
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
  header {
    background-image: url(../images/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
  }
  .header-top {
    background: #061321;
    opacity: 0.9;
  }
  .ful-hd{
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .first2>a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #00a3ff;
  }
  .head2>p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #69778a;
  }
  .first3>a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }
  .first2{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }
  .first2>:nth-child(1){
    padding-right: 5px;
  }
  .head3>p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #69778a;
  }
  .first3>a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }
  .first3{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }
  .first3>:nth-child(1){
    padding-right: 5px;
  }
  .header-top-bottom{
    background: #07192d;
    opacity: 0.9;
  }
  .ful-hd2{
    padding-right: 185px;
    padding-left: 185px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ful-hd2>a{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
  }
  .header-botton-center{
    padding-top: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 276px;
  }
  .text>h1{
    font-family: "Poppins", sans-serif;
    font-size: 75px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    width: 903px;
    padding-bottom: 20px;
  }
  .header-botton-center>:nth-child(1){
    position: absolute;
    left: 134px;
  }
  .header-botton-center>:nth-child(3){
    position: absolute;
    right: 145px;
  }
  .text>p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 114%;
    color: #fff;
  }
  .truck-slide{
    position: relative;
  }
  .bac{
    background-image: url(../images/Rectangle\ 451\ \(2\).png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*.truck-slide:first-child{
    background-image: url(../images/Rectangle\ 451\ \(2\).png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }*/
  .truck-slide>.search{
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
  }
  .truck-slide>.more{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #292929;
    background-color: #fff;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    border-top-right-radius: 22px;
    display: none;
  }
  .truck-slide>.more>img{
    padding-left: 47px;
  }
  .bac:hover{
    filter: brightness(60%);
  }
  .truck-slide:hover>.more{
    display: flex !important;
  }
  .truck-slide:hover>.search{
    display: flex !important;
  }
  .bac2{
    background-image: url(../images/Rectangle\ 451\ \(1\).png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bac2:hover{
    filter: brightness(60%);
  }
  .bac3{
    background-image: url(../images/Rectangle\ 451.png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bac3:hover{
    filter: brightness(60%);
  }
  .bac4{
    background-image: url(../images/Rectangle\ 451\ \(2\).png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bac4:hover{
    filter: brightness(60%);
  }
  .bac5{
    background-image: url(../images/Rectangle\ 451\ \(1\).png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bac5:hover{
    filter: brightness(60%);
  }
  .bac6{
    background-image: url(../images/Rectangle\ 451.png);
    width: 350px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bac6:hover{
    filter: brightness(60%);
  }
  .swiper-button-prev{
    position: absolute;
  }
  .about>.container>p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    color: #fff;
    max-width: 812px;
    margin-left: 149px;
  }
  .button-prev>button>img{
    position: absolute;
    left: 18.75%;
  }
  .slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -74px;
    padding-bottom: 40px;
  }
  .button-next>button>img{
    position: absolute;
    right: 18.75%;
  }
  .about-top>h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #00a3ff;
    padding-top: 79px;
    padding-bottom: 10px;
  }
  .about{
    background-image: url(../images/bac2.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
  }
  .about-top>h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
  }
  .about>.slider{
    background-image: url(../images/Mask\ Group.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
  }
  .about-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media (max-width: 760px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
  }
